@import 'normalize.css';
@import 'https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe';
@import 'https://fonts.googleapis.com/css2?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Roboto';
/* ----------FONT-------------- */

h1, h2, h3, h5, p, li {
    margin: 1rem;
}

h1, h2, h3, h4, h5, label, input, a, select {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: #F9F9C5;
}

h2, h3 {
    line-height: 1.75rem;
}

h1 {
    line-height: 3rem;
}

h4 {
    font-family: 'ZCOOL KuaiLe', cursive;
}

p, .btn, li {
    font-family: 'Roboto', sans-serif;
}

table, th, td {
    border: 1px solid white;
    padding: 1rem;
    /* display: block; */
}

/* -----------GLOBAL------------- */

a {
    color: white;
    text-decoration: unset;
}

body {
    background-color: #141414;
    color: white;
}

.wrapper {
    padding-top: 5rem;
}

input {
    display: block;
    border: none;
    padding: .75rem;
    margin: .5rem 0 1.25rem;
}

.btn {
    background-color: #F9F9C5;
    border: transparent;
    border-radius: 3px;
    cursor: pointer;
}

.container {
    background-color: #333333;
    border-radius: 3px;
    padding: 2.5rem 1rem;
    margin: 2rem 1rem;
    display: block;
}

.flex-container {
    display: flex;
    justify-content: center;
}

/* .colored-container {
    background-color: #313560;
} */

/* ----------NAVIGATION BAR-------------- */

.nav {
    background: rgba(20, 20, 20, .7);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.nav-items {
    display: flex;
    align-items: center;
    padding-right: 2rem;
}

.nav-items a {
    padding: 0.5rem 1rem 0;
}

.nav-text {
    margin-top: -1.5rem;
    margin-bottom: -1rem;
}

/* -----------INDEX PAGE------------- */

.img-clip-wrap {
    width: 100%;
    height: 100vh;
    background-image: url("img/cover.jpg");
    background-size: cover;
    background-position: 70% 20%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.search-area {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.search-input {
    position: relative;
    left: .75rem;
}

.search-btn {
    background-color: transparent;
    background-image: url(img/search-black.png);
    width: 1.6rem;
    height: 1.6rem;
    display: block;
    position: relative;
    z-index: 2;
    left: -1.5rem;
}

.dark-box {
    background: rgba(20, 20, 20, .7);
    padding: 2rem;
}

.view-team-link {
    padding: 2rem;
    margin: 3rem;
    width: fit-content;
    background-color: rgb(173, 60, 45);
}

.view-team-link a{
    padding: 3rem;
    margin: 3rem;
}

.view-team-title {
    padding: 2rem;
    margin: 2rem;
}


/* -----------TEAM PAGE------------- */

.team-container {
    max-width: 30rem;
}

.team-overview {
    margin: 3rem;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.character {
    display: flex;
    width: min-content;
}

.team-items {
    padding: .5rem;
}

.team-items img:nth-child(1) {
    z-index: 1;
    position: relative;
    top: 1.75rem;
    left: 0.25rem;
}

.team-items img:nth-child(2) {
    background-color: #75659C;
    border-radius: 3px;
    z-index: -1;
}

.team-items h5 {
    margin: .25rem 0;
}

/* .btn-group {
    display: flex;
} */

/* ----------LOGIN PAGE-------------- */
/* 
.colored-container {
    background-color: hotpink;
} */

/* ----------ADD TEAM PAGE-------------- */

select {
    margin: .25rem 1rem 1rem;
    padding: .5rem;
    width: 90%;
}

.add-team label, textarea {
    margin: 0 1rem;
}

textarea {
    width: 90%;
}

form h2, h3 {
    margin-top: 2rem;
}

.add-team-submit {
    margin: 3rem;
}

/* ----------FOOTER-------------- */

footer {
    background-color: #2D2D2D;
    padding: 2rem;
    margin-top: 10rem;
    display: flex;
    justify-content: flex-end;
}


/* ----------RESPONSIVE-------------- */

@media only screen and (min-width: 50rem) {
    .container {
        width: 70%;
        margin: 2rem auto;
        padding: 4rem;
    }

    select {
        width: 50%;
    }

    .add-team label {
        padding-left: 4rem;
    }
}

@media only screen and (min-width: 80rem) {
    .container {
        width: 55%;
        padding: 7rem;
    }
}

